$summary-box-height: 310px;
$summary-checkout-height: 40px;

.section-mycart {
  @extend .grid-container;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  margin-top: 40px;

  &.empty {
    justify-content: flex-start !important;
    width: 65%;
  }

  .mycart-title {
    @extend .bold-700;
    font-size: 20px;
    color: $dark;

    .sub {
      @extend .bold-300;
      margin-top: 9px;
      font-size: 12px;
      color: $grey-2;
    }
  }

  .mycart-items {
    margin-right: 40px;
  }

  .mycart-summary {
    display: flex;
    align-items: flex-end;
    flex-direction: column;

    .summary-box {
      width: 316px;
      @include image-placeholder();
      padding: 33px 40px;
      background-color: $grey;

      .summary-title {
        @extend .bold-700;
        font-size: 12px;
        color: $grey-5;
      }

      .summary-item {
        margin: 10px 0;

        &.border-top {
          border-top: 1px solid $grey-1;
        }

        .summary-cost {
          @extend .bold-300;
          width: 100%;
          display: inline-block;
          color: $dark;
          font-size: 12px;

          div {
            float: right;
          }
        }

        .costs-ul {
          flex-grow: 0;
          flex-basis: 50%;
          list-style-type: none;
          padding-left: 10px;
          color: $grey-2;
        }
      }
    }
    .summary-checkout {
      @extend .pointer, .transition;
      border-radius: 2px;
      width: 164px;
      text-align: center;
      font-size: 10px;
      height: $summary-checkout-height;
      line-height: $summary-checkout-height;
      color: $white-1;
      background-color: $primary-color;
      margin: -($summary-checkout-height / 2) auto 0;

      &:hover {
        color: $primary-color;
        background-color: $white-1;
      }
    }
    .summary-purchased {
      @extend .pointer;
      width: 100%;
      margin-top: 35px;
      color: $primary-color;
      font-size: 10px;
      display: flex;
      align-items: baseline;

      i {
        margin:0 8px;
        font-size: 15px;
      }
    }
  }
}

/* checkout popup */

.mycart-checkout {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 250px;
  height: 350px;
  background-color: $white;
  position: relative;

  &-header {
    width: 100%;
    height: 115px;
    background-color: $lightgrey;
    margin-bottom: 15px;
    display: flex;
    align-items: center;

    .summary {
      margin: 0 auto;
      font-size: 15px;
    }
  }

  &-information {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  input[type="text"] {
    border-radius: 4px;
    padding: 9px;
    font-size: 12px;
    line-height: 12px;
    margin-bottom: 10px;
  }

  .agr-delete {
    @extend .pointer;
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 10px;
    padding: 3px;
    color: $primary-color;
    border-radius: 50%;
  }

  .btn-pay {
    @extend .pointer, .transition;
    border-radius: 2px;
    width: 164px;
    text-align: center;
    font-size: 10px;
    height: $summary-checkout-height;
    line-height: $summary-checkout-height;
    color: $white-1;
    background-color: $primary-color;
    margin: 10px auto;

    &:hover {
      color: $primary-color;
      background-color: $white-1;
    }
  }
}

.purchase-item {
  padding: 17px 0;
  display: flex;
  align-items: flex-start;
  &.purchasing {
    padding: 40px 0 47px;
    border-bottom: 1px solid $lightgrey;
    .item-preview {
      margin-right: 40px;
    }
    .item-info {
      width: 270px;
    }
  }

  .item-preview {
    @include image-placeholder(null, contain);
    width: 150px;
    height: 150px;
    margin-right: 17px;
    display: inline-block;
    position: relative;

    i {
      cursor: pointer;
      position: absolute;
      bottom: 10px;
      right: 65px;
      color: $primary-color;
      font-size: 17px;
    }
  }

  .item-info {
    width: calc(100% - 150px);
    display: inline-block;
    flex-direction: column;
    line-height: 24px;

    .actions-wrapper {
      @extend .bold-700;
      display: flex;
      color: $dark;
      font-size: 12px;
      .actions {
        @extend .pointer;
        margin-left: 18px;
        font-size: 8px;
        letter-spacing: 0.08px;
        font-weight: 500;
        line-height: 22px;
        color: $primary-color;
        i {
          font-size: 6px;
        }
      }
    }

    .detail {
      span.label{
        padding-left: 0;
        @extend .bold-300;
        color: $grey-5;
        font-size: 12px;
        font-weight: 500;
        line-height: 16px;
      }
      span {
        @extend .bold-300;
        color: $dark;

        &.img-id {
          color: $grey-2;
        }
      }

      &.license {
        @extend .bold-300;
        color: $grey-2;
        font-size: 12px;
        line-height: 16px;
      }
    }
  }
}