.history-title {
  width: 100% !important;
  padding-left: 20px;
}

.history-menu {
  .menu {
    width: 100% !important;
  }
}

.wrapper {
  width: 100% !important;
}
@media (max-width: 670px) {
  .purchase-item{
    width: 100% !important;
    padding-left: 20px !important;
  }
}