#profile {
  min-width: $mobile-resolution;
  #profile-banner, .profile-feature-menu {
    min-width: $mobile-resolution;
  }
  .profile-feature-menu {
    .menu-container {
      width: 100% !important;
    }
  }
  .profile-banner-container {
    width: 100% !important;
    padding-left: 35px;
  }
}

@media (max-width: 500px) {
  .profile-banner-container {
    .list-follower {
      font-size: 10px !important;
    }
  }
}

@media (max-width: 425px) {
  .profile-banner-container {
    padding-left: 13px !important;
    .avatar {
      width: 80px;
      height: 80px;
      margin-right: 15px !important;
    }
  }
}

@media (max-width: 400px) {
  .profile-banner-container {
    .main-info {
      display: block !important;
      .avatar, .info-description {
        display: block !important;
      }
      .avatar {
        margin-bottom: 10px;
      }
    }
  }
}

@media (max-width: 320px) {
  .add-to-cart-btn{
    width: 100% !important;
  }
}

