@media (max-width: 810px) {
  .history-title {
    width: 100% !important;
    padding-left: 20px;
  }
  .history-menu {
    .menu {
      width: 100% !important;
    }
  }
  .wrapper{
    width: 100% !important;
  }
}